* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body > header {
    background-color: #b7cbe9;
    padding: 16px 0;
    color: #304186;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #6d81c9;
    text-decoration: none;
}
    .container {
        width: 1366px;
        margin: 0 auto; 
}

    .articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

    .articles article img {
        /* height: 180px;*/
        width: 100%;
}

.articles article {
        width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-top: 8px;
    
}

.articles article a {
    background-color: rgb(128, 230, 45);
    color: #e91414c2;
    padding: 8px;
    display: inline-block; 
    text-decoration: none;
    font-weight: bold;
    margin: 8px;

}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#technology {
    background-color: rgba(169, 240, 169, 0.11);
}

#technology .articles article a {
    background-color: #95c7a6ce;
}

#Science {
    background-color: #f5f5ef;
}

#Science .articles article a {
    background-color: rgb(128, 228, 228);
}








